.body {
    background-color: #000000;
    font-family: 'Poppins';font-size: 22px;
}
 
 
 .faq-container {
  text-align: center;
  width: 900%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
  
  /* Title styles */
  .faq-container h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .faq-container p {
    font-size: 0.9em;
    margin-bottom: 20px;
    color: #ccc; 
  }
  
  /* Individual FAQ items */
  .faq-item {
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  

  .faq-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  }
  
  .faq-question span:first-child {
    font-size: 1em;
    font-weight: 500;
  }
  
  .plus-icon {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    transition: color 0.2s ease;
  }
  
  .faq-item:hover .plus-icon {
    color: #000;
  }
  .faq-answer {
    display: none;
    margin-top: 10px;
    font-size: 0.9em;
    color: #ffffff;
  }
  .faq-item.open .faq-answer {
    display: block;
  }
  .faq-item.open .plus-icon {
    transform: rotate(45deg);
  }
  