html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #121212;
    font-family: 'Poppins';font-size: 22px;
}

.image-container1 {
    background-image: linear-gradient(1turn,#121212,45%,transparent,96%,#12121255),url(https://imgur.com/ORDVRpu.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.next1 {
    color: #564983;
}

.opener1 {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 5px;
    text-align: left;
    color: white;
    white-space: nowrap;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #564983;
    border-radius: 7px;
}

.under2 {
    flex: 1 1 0%;
    place-self: stretch;
    height: 100vh;
}

.op2 {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(20%, 05%);
    padding: 20px;
    border-radius: 1px;
    text-align: center;
    color: white; 
}

.projtile1 {
    display: block;
    width: 100%;
    margin-inline: auto;
    padding-inline-start: 28rem;
    padding-inline-end: 3rem;
    max-width: 80rem;
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
}

.con {
    align-self: center;
    align-content: center;
}

.centerr{
    color: aliceblue;
    text-align: center;
    background-color: gray;
    border-radius: 1rem;
    border-width: 0.25rem;
}

.centerr1{
    color: aliceblue;
    text-align: center;
    justify-content: center;
    border-radius: 1rem;
    border-width: 0.25rem;
}

.ribsub1 {
    font-family: Poppins, sans-serif;
    color: #E2E8F0;
    display: block;
    flex-basis: auto;
}   

.bar1 {
    padding: 0px 5px;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
}

.bar1 a:hover {
    background-color: #7258b5;
    color: white;
    color: inherit;
    padding: 0px 5px;
    border-radius: 10%;
    transition: 0.4s;
}

.hidder {
    white-space: nowrap;
    padding-inline-start: 0%;
    padding-inline-end: 0%;
    background: #7258b5;
    color: black;
    border-radius: 7px;
    font-weight: bold;
    width: 50%;
    font-size: 200%;
    color: whitesmoke;
}

.hidder1 {
    white-space: nowrap;
    padding-inline-start: 0%;
    padding-inline-end: 0%;
    background: #564983;
    color: black;
    border-radius: 7px;
    font-weight: bold;
    width: 40%;
    font-size: 150%;
    color: whitesmoke;
    text-align: center;
}

.hid {
    white-space: nowrap;
    padding-inline-start: 0%;
    padding-inline-end: 0%;
    background: #564983;
    color: black;
    border-radius: 7px;
    font-weight: bold;
    width: 110%;
    font-size: 150%;
}

.mini_hid {
    white-space: nowrap;
    padding-inline-start: 0%;
    padding-inline-end: 0%;
    background: #564983;
    color: black;
    border-radius: 7px;
    font-weight: bold;
    width: 110%;
    font-size: 100%;
}

.inter {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    align-self: center;
}

.games {
    padding: 1px;
    margin-left: 44rem;
    border: #E2E8F0;
    border-radius: 50%;
    box-shadow: #E2E8F0;
}

.spacer {
    flex: 1 1 0%;
    place-self: stretch;
    height: 30px;
}

.rund {
    border: 1px;
    border-radius: 20%;
    width: 20rem;
    height: auto;
}

.vid1 {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}

.vid2 {
    display: block;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
}

.vid3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gif {
    display: flex;
    align-items: center;
    justify-content: center
}
.textL {
    font-size: 20px;
    padding-left: 20px;
}

.textR {
    font-size: 20px;
    padding-right: 20px;
}

.container{
    justify-content: center;
    display: block;
    align-items: center;
    padding: 1px;
    margin: 0px;
    margin-left: 42rem;
}

.typer {
    width: auto;
    height: auto;
}

.comments {
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin: 0px;
    margin-left: 50rem;
    margin-right: 50rem;
    background-color: white;
}